
section {
    width: 70%;
    height: 400px;
    background-color: white;
    margin: 5px 0 0 0;
    float: right;
    box-sizing: border-box;
}

.video1{
    float: right;

}
.texto1{
    border: 15px solid #1e33f0de;
    border-style: outset;
    width: 450px;
    height: 400px;
    float: left;
    box-sizing: border-box;

}
.texto1 ul p{
    padding-right: 35px ;
}


#h1video{
    padding-left: 35px;
}

article{
    
    width: 70%;
    height: 120px;
    background-color: white;
    float: right;
    margin: 5px 0 0 0;
    box-sizing: border-box;
    
}

.audio1{

    width: 25%;
    height: 117px;
    float: left;
    padding-left: 80px;
    padding-top: 20px;
}

.texto2{
    border: 13px solid #1e33f0de;
    border-style: outset;
    width: 850px;
    height: 130px;
    float: right;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

aside{
    border: 1px solid #1e33f0de;
    border-style: outset;
    width: 29%;
    height: 535px;
    float: left;
    box-sizing: border-box;
    margin-top: 1px;
}



.noticia1{
    width: 300px;
    height:100%;
    float: left;
    box-sizing: border-box;
    
}

footer{
    position: fixed;
    border: 2px solid #1e33f0de;
    border-radius: 10px;
    background-color: #1a1212;
    color: white;
    border-style: outset;
    float: left;
    width: 100%;
    margin-top: 30px;
    box-sizing: border-box;
    display: inline
    
}

#texto3 {
    width: 100%;
    float: left;
    display: inline
}

#texto5{
    text-align: center;
} 