#principal {
    width: 100%;
    height: 140px;
    box-sizing: border-box;
}


.rs{
    width: 100%;
    height: 29%;
    
}


.rs ul {
    list-style: none;
    cursor: point;
}

.rs ul li {
    float: right;
    margin-top:2px;
    margin-inline-end: 2px;
    margin: 4px;
}

.rs ul li :hover {
    cursor: pointer;
}

.logo{
    
    width: 100%;
    height: 300px;
    float: left;
}


