* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

form {
    padding: 5px;
}

label {
    font-size: 12px;
    color: cornflowerblue;
}

.lblEtiqueta {
    width: 12%;
}

.divRow {
    width: 90%;
    margin-top: 10px;
    display: inline-flex;
    flex-direction: row;
}